Repository enslo/sd-metadata: changes, and which lefthook commands are due for each by the changed paths.
All: lint, markdown

lint:
  run: pnpm biome check --write {staged_files}
  stage_fixed: true

markdown:
  run: pnpm markdownlint {staged_files}
  stage_fixed: true

chore: release core@3.3.0 (#268)
  packages/core/CHANGELOG.md
  packages/core/README.ja.md
  packages/core/README.md
  packages/core/package.json
Due: lint, markdown

feat: recover Stealth PNGInfo from pixel data via new parse() API
  CLAUDE.md
  packages/core/src/api/parse.ts
  packages/core/src/api/read.ts
  packages/core/src/index.ts
  packages/core/src/readers/stealth.ts
  packages/core/src/utils/compression.ts
  packages/core/tests/helpers/stealth-images.ts
  packages/core/tests/samples/api/parse.test.ts
  packages/core/tests/unit/api/parse.test.ts
  packages/core/tests/unit/readers/stealth.test.ts
Due: lint, markdown

test: add Forge and ComfyUI stealth pnginfo samples covering all variants
  packages/core/tests/samples/api/parse.test.ts
  samples/png/comfyui-stealth-alpha-comp.png
  samples/png/comfyui-stealth-alpha-raw.png
  samples/png/comfyui-stealth-rgb-comp.png
  samples/png/comfyui-stealth-rgb-raw.png
  samples/png/forge-stealth-alpha-comp.png
  samples/png/forge-stealth-alpha-raw.png
  samples/png/forge-stealth-rgb-comp.png
  samples/png/forge-stealth-rgb-raw.png
  samples/webp/forge-stealth-alpha-comp.webp
  samples/webp/forge-stealth-alpha-raw.webp
  samples/webp/forge-stealth-rgb-comp.webp
  samples/webp/forge-stealth-rgb-raw.webp
Due: lint

test: point the WebP stealth limitation test at a real carrier
  packages/core/tests/samples/api/parse.test.ts
Due: lint

test: drop Forge WebP samples that carry no stealth data
  packages/core/tests/samples/api/parse.test.ts
  samples/webp/forge-stealth-alpha-comp.webp
  samples/webp/forge-stealth-alpha-raw.webp
  samples/webp/forge-stealth-rgb-comp.webp
  samples/webp/forge-stealth-rgb-raw.webp
Due: lint

feat: recover Stealth PNGInfo from pixel data via new parse() API (#269)
  CLAUDE.md
  packages/core/src/api/parse.ts
  packages/core/src/api/read.ts
  packages/core/src/index.ts
  packages/core/src/readers/stealth.ts
  packages/core/src/utils/compression.ts
  packages/core/tests/helpers/stealth-images.ts
  packages/core/tests/samples/api/parse.test.ts
  packages/core/tests/unit/api/parse.test.ts
  packages/core/tests/unit/readers/stealth.test.ts
  samples/png/comfyui-stealth-alpha-comp.png
  samples/png/comfyui-stealth-alpha-raw.png
  samples/png/comfyui-stealth-rgb-comp.png
  samples/png/comfyui-stealth-rgb-raw.png
  samples/png/forge-stealth-alpha-comp.png
  samples/png/forge-stealth-alpha-raw.png
  samples/png/forge-stealth-rgb-comp.png
  samples/png/forge-stealth-rgb-raw.png
Due: lint, markdown

feat: recover WebP stealth metadata via platform or injected pixel decoding
  CLAUDE.md
  packages/core/package.json
  packages/core/src/api/parse.ts
  packages/core/src/index.ts
  packages/core/src/readers/pixel-decode.ts
  packages/core/src/readers/stealth.ts
  packages/core/src/types.ts
  packages/core/tests/helpers/stealth-images.ts
  packages/core/tests/helpers/webp-pixels.ts
  packages/core/tests/integration/stealth-rescue.test.ts
  packages/core/tests/samples/api/parse.test.ts
  packages/core/tests/unit/api/parse.test.ts
  packages/core/tests/unit/readers/pixel-decode.test.ts
  packages/core/tests/unit/readers/stealth.test.ts
  pnpm-lock.yaml
Due: lint, markdown

feat: recover WebP stealth metadata via platform or injected pixel decoding (#270)
  CLAUDE.md
  packages/core/package.json
  packages/core/src/api/parse.ts
  packages/core/src/index.ts
  packages/core/src/readers/pixel-decode.ts
  packages/core/src/readers/stealth.ts
  packages/core/src/types.ts
  packages/core/tests/helpers/stealth-images.ts
  packages/core/tests/helpers/webp-pixels.ts
  packages/core/tests/integration/stealth-rescue.test.ts
  packages/core/tests/samples/api/parse.test.ts
  packages/core/tests/unit/api/parse.test.ts
  packages/core/tests/unit/readers/pixel-decode.test.ts
  packages/core/tests/unit/readers/stealth.test.ts
  pnpm-lock.yaml
Due: lint, markdown

feat(demo): surface Stealth PNGInfo recovery via the parse() API
  apps/demo/src/App.tsx
  apps/demo/src/components/Results/Results.tsx
  apps/demo/src/i18n/en.json
  apps/demo/src/i18n/ja.json
Due: lint

feat: expose stealth recovery in ParseResult instead of demo-side detection
  apps/demo/src/App.tsx
  apps/demo/src/components/Results/Results.tsx
  packages/core/src/api/parse.ts
  packages/core/src/types.ts
  packages/core/tests/samples/api/parse.test.ts
  packages/core/tests/unit/api/parse.test.ts
Due: lint

feat(demo): show stealth recovery as a badge with tooltip
  apps/demo/src/App.tsx
  apps/demo/src/components/DropZone/DropZone.tsx
  apps/demo/src/components/Results/Results.tsx
  apps/demo/src/i18n/en.json
  apps/demo/src/i18n/ja.json
Due: lint

fix(demo): re-enable pointer events on the stealth badge for its tooltip
  apps/demo/src/components/DropZone/DropZone.tsx
Due: lint

feat: expose stealth recovery in ParseResult and surface it in the demo (#271)
  apps/demo/src/App.tsx
  apps/demo/src/components/DropZone/DropZone.tsx
  apps/demo/src/i18n/en.json
  apps/demo/src/i18n/ja.json
  packages/core/src/api/parse.ts
  packages/core/src/types.ts
  packages/core/tests/samples/api/parse.test.ts
  packages/core/tests/unit/api/parse.test.ts
Due: lint

chore: release core@4.0.0
  README.ja.md
  README.md
  packages/core/CHANGELOG.md
  packages/core/README.ja.md
  packages/core/README.md
  packages/core/docs/types.ja.md
  packages/core/docs/types.md
  packages/core/package.json
Due: lint, markdown

chore: trim parenthetical note from stealth row in root README
  README.ja.md
  README.md
Due: markdown

chore: describe stealth variants functionally instead of by magic strings
  packages/core/CHANGELOG.md
  packages/core/README.ja.md
  packages/core/README.md
Due: markdown

docs: deduplicate and trim documentation
  CONTRIBUTING.md
  README.ja.md
  README.md
  packages/core/README.ja.md
  packages/core/README.md
  packages/core/docs/types.ja.md
  packages/core/docs/types.md
Due: markdown

Path conditions:
  lint: any of: *.{js,ts,tsx,json}
  markdown: any of: *.md
