Repository enslo/sd-metadata: changes, and which lefthook commands are due for each by the changed paths.
All: lint, markdown

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,tsx,json}"
      run: pnpm biome check --write {staged_files}
      stage_fixed: true
    typecheck:
      run: pnpm --filter @enslo/sd-metadata typecheck && pnpm --filter @enslo/sd-metadata-lite typecheck
    markdown:
      glob: "*.md"
      run: pnpm markdownlint {staged_files}
      stage_fixed: true

docs: inline ReadOptions in README and move BaseMetadata to Metadata Types
  packages/core/README.ja.md
  packages/core/README.md
  packages/core/docs/types.ja.md
  packages/core/docs/types.md
Due: markdown

docs: inline ReadOptions in README and move BaseMetadata to Metadata Types (#185)
  packages/core/README.ja.md
  packages/core/README.md
  packages/core/docs/types.ja.md
  packages/core/docs/types.md
Due: markdown

refactor(demo): migrate from Preact to React 19
  apps/demo/package.json
  apps/demo/src/App.tsx
  apps/demo/src/components/ContentPanel/ContentPanel.tsx
  apps/demo/src/components/CopyButton/CopyButton.tsx
  apps/demo/src/components/DropZone/DropZone.tsx
  apps/demo/src/components/EmbedEditor/EmbedEditor.tsx
  apps/demo/src/components/EmbedEditor/ExtrasEditor.tsx
  apps/demo/src/components/EmbedEditor/MetadataForm.tsx
  apps/demo/src/components/GitHubCorner/GitHubCorner.tsx
  apps/demo/src/components/LanguageSwitcher/LanguageSwitcher.tsx
  apps/demo/src/components/Results/ParsedSection.tsx
  apps/demo/src/components/Results/ParsedTabContent.tsx
  apps/demo/src/components/Results/Results.tsx
  apps/demo/src/components/SaveBar/SaveBar.tsx
  apps/demo/src/components/ScrollToTop/ScrollToTop.tsx
  apps/demo/src/components/ThemeToggle/ThemeToggle.tsx
  apps/demo/src/main.tsx
  apps/demo/tsconfig.json
  apps/demo/vite.config.ts
  pnpm-lock.yaml
Due: lint

perf(demo): hold file bytes in a ref instead of React state
  apps/demo/src/App.tsx
  apps/demo/src/components/EmbedEditor/EmbedEditor.tsx
  apps/demo/src/components/Results/Results.tsx
Due: lint

refactor(demo): migrate from Preact to React 19 (#206)
  apps/demo/package.json
  apps/demo/src/App.tsx
  apps/demo/src/components/ContentPanel/ContentPanel.tsx
  apps/demo/src/components/CopyButton/CopyButton.tsx
  apps/demo/src/components/DropZone/DropZone.tsx
  apps/demo/src/components/EmbedEditor/EmbedEditor.tsx
  apps/demo/src/components/EmbedEditor/ExtrasEditor.tsx
  apps/demo/src/components/EmbedEditor/MetadataForm.tsx
  apps/demo/src/components/GitHubCorner/GitHubCorner.tsx
  apps/demo/src/components/LanguageSwitcher/LanguageSwitcher.tsx
  apps/demo/src/components/Results/ParsedSection.tsx
  apps/demo/src/components/Results/ParsedTabContent.tsx
  apps/demo/src/components/Results/Results.tsx
  apps/demo/src/components/SaveBar/SaveBar.tsx
  apps/demo/src/components/ScrollToTop/ScrollToTop.tsx
  apps/demo/src/components/ThemeToggle/ThemeToggle.tsx
  apps/demo/src/main.tsx
  apps/demo/tsconfig.json
  apps/demo/vite.config.ts
  pnpm-lock.yaml
Due: lint

fix(tsconfig): resolve TypeScript 6.0 compatibility issues
  packages/core/tsconfig.json
  packages/lite/tsconfig.json
Due: lint

chore(deps): bump typescript to 6.0.3
  apps/demo-lite/package.json
  apps/demo/package.json
  packages/core/package.json
  packages/lite/package.json
  packages/lite/tsconfig.json
  pnpm-lock.yaml
Due: lint

build: migrate from tsup to tsdown
  packages/core/package.json
  packages/core/tsdown.config.ts
  packages/lite/package.json
  packages/lite/tsdown.config.ts
  pnpm-lock.yaml
Due: lint

ci: bump node to 24 to match publish workflows
  .github/workflows/ci.yml
Due: none

chore(deps): upgrade to TypeScript 6.0 and migrate to tsdown (#216)
  .github/workflows/ci.yml
  apps/demo-lite/package.json
  apps/demo/package.json
  packages/core/package.json
  packages/core/tsdown.config.ts
  packages/lite/package.json
  packages/lite/tsconfig.json
  packages/lite/tsdown.config.ts
  pnpm-lock.yaml
Due: lint

chore: adopt pnpm catalogs for shared dev dependencies
  apps/demo-lite/package.json
  apps/demo/package.json
  package.json
  packages/core/package.json
  packages/lite/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint

chore: adopt pnpm catalogs for shared dev dependencies (#217)
  apps/demo-lite/package.json
  apps/demo/package.json
  package.json
  packages/core/package.json
  packages/lite/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint

chore: upgrade pnpm to 11.3.0
  .github/dependabot.yml
  .npmrc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint

chore: upgrade pnpm to 11.3.0 (#218)
  .github/dependabot.yml
  .npmrc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint

feat(core): expand ComfyUI parser with flat scan fallback
  packages/core/src/parsers/comfyui-flat-scan.ts
  packages/core/src/parsers/comfyui-nodes.ts
  packages/core/src/parsers/comfyui.ts
  packages/core/src/parsers/types.ts
  packages/core/tests/unit/parsers/comfyui-flat-scan.test.ts
  packages/core/tests/unit/parsers/comfyui.test.ts
Due: lint

feat(lite): support ShowText|pysssss and PromptStashSaver in flatScan
  packages/lite/src/extract.ts
Due: lint

fix(demo): keep NaN-containing JSON formatted in the raw view
  apps/demo/src/utils.ts
Due: lint

feat(core): identify ComfyUI workflow-only PNGs
  packages/core/src/parsers/comfyui.ts
  packages/core/tests/unit/parsers/comfyui.test.ts
Due: lint

feat(comfyui): expand parser coverage with flat scan and custom nodes (#219)
  apps/demo/src/utils.ts
  packages/core/src/parsers/comfyui-flat-scan.ts
  packages/core/src/parsers/comfyui-nodes.ts
  packages/core/src/parsers/comfyui.ts
  packages/core/src/parsers/types.ts
  packages/core/tests/unit/parsers/comfyui-flat-scan.test.ts
  packages/core/tests/unit/parsers/comfyui.test.ts
  packages/lite/src/extract.ts
Due: lint

chore: restore catalog specifier in pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

chore: release core@2.3.0
  packages/core/CHANGELOG.md
  packages/core/README.ja.md
  packages/core/README.md
  packages/core/package.json
Due: lint, markdown

chore: release core@2.3.0 (#222)
  packages/core/CHANGELOG.md
  packages/core/README.ja.md
  packages/core/README.md
  packages/core/package.json
Due: lint, markdown

chore: release lite@1.2.0
  .claude/RELEASE.md
  packages/lite/CHANGELOG.md
  packages/lite/README.ja.md
  packages/lite/README.md
  packages/lite/package.json
Due: lint, markdown

chore: release lite@1.2.0 (#223)
  .claude/RELEASE.md
  packages/lite/CHANGELOG.md
  packages/lite/README.ja.md
  packages/lite/README.md
  packages/lite/package.json
Due: lint, markdown

fix: specify Node 24 for Cloudflare Pages builds
  .node-version
Due: none

fix: specify Node 24 for Cloudflare Pages builds (#224)
  .node-version
Due: none

chore: reduce dependabot update frequency to monthly
  .github/dependabot.yml
Due: none

chore: reduce dependabot update frequency to monthly (#225)
  .github/dependabot.yml
Due: none

fix: remove unsupported semver-major-days from github-actions cooldown
  .github/dependabot.yml
Due: none

fix: remove unsupported semver-major-days from github-actions cooldown (#226)
  .github/dependabot.yml
Due: none

chore: add explicit catalog group to dependabot config
  .github/dependabot.yml
Due: none

chore: add explicit catalog group to dependabot config (#228)
  .github/dependabot.yml
Due: none

feat: detect C2PA Content Credentials (ChatGPT / Gemini)
  packages/core/README.ja.md
  packages/core/README.md
  packages/core/docs/types.ja.md
  packages/core/docs/types.md
  packages/core/src/api/read.ts
  packages/core/src/api/stringify.ts
  packages/core/src/api/write.ts
  packages/core/src/constants.ts
  packages/core/src/converters/index.ts
  packages/core/src/index.ts
  packages/core/src/parsers/c2pa.ts
  packages/core/src/types.ts
  packages/core/tests/helpers/samples.ts
  packages/core/tests/samples/c2pa.test.ts
  samples/c2pa/png/chatgpt-image2.png
  samples/c2pa/png/gemini_3.1pro.png
  samples/c2pa/png/gemini_unknown.png
Due: lint, markdown

fix(demo): support the c2pa ParseResult status
  apps/demo/src/App.tsx
  apps/demo/src/components/DropZone/DropZone.tsx
  apps/demo/src/components/Results/C2paSection.tsx
  apps/demo/src/components/Results/ParsedTabContent.tsx
  apps/demo/src/components/Results/RawTabContent.tsx
  apps/demo/src/i18n/en.json
  apps/demo/src/i18n/ja.json
Due: lint

feat: detect C2PA Content Credentials (ChatGPT / Gemini) (#234)
  apps/demo/src/App.tsx
  apps/demo/src/components/DropZone/DropZone.tsx
  apps/demo/src/components/Results/C2paSection.tsx
  apps/demo/src/components/Results/ParsedTabContent.tsx
  apps/demo/src/components/Results/RawTabContent.tsx
  apps/demo/src/i18n/en.json
  apps/demo/src/i18n/ja.json
  packages/core/README.ja.md
  packages/core/README.md
  packages/core/docs/types.ja.md
  packages/core/docs/types.md
  packages/core/src/api/read.ts
  packages/core/src/api/stringify.ts
  packages/core/src/api/write.ts
  packages/core/src/constants.ts
  packages/core/src/converters/index.ts
  packages/core/src/index.ts
  packages/core/src/parsers/c2pa.ts
  packages/core/src/types.ts
  packages/core/tests/helpers/samples.ts
  packages/core/tests/samples/c2pa.test.ts
  samples/c2pa/png/chatgpt-image2.png
  samples/c2pa/png/gemini_3.1pro.png
  samples/c2pa/png/gemini_unknown.png
Due: lint, markdown

feat(lite): detect C2PA Content Credentials in PNGs
  packages/lite/README.ja.md
  packages/lite/README.md
  packages/lite/src/extract.ts
  packages/lite/src/index.ts
  packages/lite/src/read.ts
  packages/lite/tests/bundle.test.ts
  packages/lite/tests/c2pa.test.ts
Due: lint, markdown

feat(lite): detect C2PA Content Credentials in PNGs (#235)
  packages/lite/README.ja.md
  packages/lite/README.md
  packages/lite/src/extract.ts
  packages/lite/src/index.ts
  packages/lite/src/read.ts
  packages/lite/tests/bundle.test.ts
  packages/lite/tests/c2pa.test.ts
Due: lint, markdown

fix(core): harden read() against ReDoS and truncated-image RangeError
  packages/core/src/api/read.ts
  packages/core/src/readers/dimensions.ts
  packages/core/src/utils/xmp.ts
  packages/core/tests/unit/readers/dimensions.test.ts
  packages/core/tests/unit/utils/xmp.test.ts
Due: lint

fix(core): harden read() against ReDoS and OOB RangeError (HIGH x2) (#236)
  packages/core/src/api/read.ts
  packages/core/src/readers/dimensions.ts
  packages/core/src/utils/xmp.ts
  packages/core/tests/unit/readers/dimensions.test.ts
  packages/core/tests/unit/utils/xmp.test.ts
Due: lint

chore: release lite@1.3.0
  packages/lite/CHANGELOG.md
  packages/lite/README.ja.md
  packages/lite/README.md
  packages/lite/package.json
Due: lint, markdown
