Repository enslo/sd-metadata: changes, and which lefthook commands are due for each by the changed paths.
All: lint, markdown

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,tsx,json}"
      run: pnpm biome check --write {staged_files}
      stage_fixed: true
    typecheck:
      run: pnpm typecheck
    markdown:
      glob: "*.md"
      run: pnpm markdownlint {staged_files}
      stage_fixed: true

refactor(parsers): delegate TensorArt node parsing to ComfyUI parser
  src/parsers/comfyui.ts
  src/parsers/tensorart.ts
  tests/samples/parsers/tensorart.test.ts
  tests/unit/parsers/tensorart.test.ts
Due: lint

refactor(parsers): delegate TensorArt node parsing to ComfyUI parser (#138)
  src/parsers/comfyui.ts
  src/parsers/tensorart.ts
  tests/samples/parsers/tensorart.test.ts
  tests/unit/parsers/tensorart.test.ts
Due: lint

chore: release v2.0.0
  CHANGELOG.md
  package.json
Due: lint, markdown

chore: release v2.0.0 (#139)
  CHANGELOG.md
  package.json
Due: lint, markdown

fix(ci): consolidate Dependabot config for pnpm workspace
  .github/dependabot.yml
Due: none

fix(ci): consolidate Dependabot config for pnpm workspace (#146)
  .github/dependabot.yml
Due: none

docs: update README for v2.0.0 API changes
  README.ja.md
  README.md
Due: markdown

docs: replace alerts with bold text inside details tags
  README.ja.md
  README.md
Due: markdown

docs: update README for v2.0.0 API changes (#149)
  README.ja.md
  README.md
Due: markdown

fix(comfyui): extract metadata from DetailerForEach nodes
  src/parsers/comfyui-nodes.ts
Due: lint

fix(comfyui): support SamplerCustom and conditioning chains
  src/parsers/comfyui-nodes.ts
Due: lint

refactor(comfyui): move denoise normalization to parser layer
  src/parsers/comfyui-nodes.ts
  src/parsers/comfyui.ts
Due: lint

fix(comfyui): support DetailerForEach, SamplerCustom, and conditioning chains (#150)
  src/parsers/comfyui-nodes.ts
  src/parsers/comfyui.ts
Due: lint

chore: release v2.0.1
  CHANGELOG.md
  README.ja.md
  README.md
  package.json
Due: lint, markdown

chore: release v2.0.1 (#151)
  CHANGELOG.md
  README.ja.md
  README.md
  package.json
Due: lint, markdown

chore: streamline development workflow
  .claude/RELEASE.md
  .claude/RESEARCH.md
  .claude/WORKFLOW.md
  .github/dependabot.yml
  .github/workflows/ci.yml
  CLAUDE.md
Due: markdown

chore: streamline development workflow (#153)
  .claude/RELEASE.md
  .claude/RESEARCH.md
  .claude/WORKFLOW.md
  .github/dependabot.yml
  .github/workflows/ci.yml
  CLAUDE.md
Due: markdown

chore: add post-merge cleanup instructions to workflow
  .claude/WORKFLOW.md
Due: markdown

chore: add post-merge cleanup instructions (#155)
  .claude/WORKFLOW.md
Due: markdown

chore: use git branch -D and --prune in cleanup commands
  .claude/WORKFLOW.md
Due: markdown

chore: use git branch -D and --prune in cleanup commands (#156)
  .claude/WORKFLOW.md
Due: markdown

feat: add IIFE build for userscript support
  README.ja.md
  README.md
  tsup.config.ts
Due: lint, markdown

feat: add IIFE build for userscript support (#157)
  README.ja.md
  README.md
  tsup.config.ts
Due: lint, markdown

chore: release v2.1.0
  CHANGELOG.md
  README.ja.md
  README.md
  package.json
Due: lint, markdown

chore: release v2.1.0 (#158)
  CHANGELOG.md
  README.ja.md
  README.md
  package.json
Due: lint, markdown

feat: add @enslo/sd-metadata-lite package
  .npmrc
  packages/lite/biome.json
  packages/lite/build-iife.ts
  packages/lite/package.json
  packages/lite/src/extract.ts
  packages/lite/src/index.ts
  packages/lite/src/read.ts
  packages/lite/tests/bundle.test.ts
  packages/lite/tests/read.test.ts
  packages/lite/tsconfig.json
  packages/lite/tsup.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint

feat: add @enslo/sd-metadata-lite package (#159)
  .npmrc
  packages/lite/biome.json
  packages/lite/build-iife.ts
  packages/lite/package.json
  packages/lite/src/extract.ts
  packages/lite/src/index.ts
  packages/lite/src/read.ts
  packages/lite/tests/bundle.test.ts
  packages/lite/tests/read.test.ts
  packages/lite/tsconfig.json
  packages/lite/tsup.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint

fix(ci): set working-directory for coverage report action
  .github/workflows/ci.yml
Due: none

docs: reorganize documentation for independent package releases
  .claude/RELEASE.md
  .claude/RESEARCH.md
  .claude/TESTING.md
  .claude/WORKFLOW.md
  .github/workflows/ci.yml
  .github/workflows/deploy-demo.yml
  .github/workflows/publish-lite.yml
  CLAUDE.md
  CONTRIBUTING.md
  README.ja.md
  README.md
  lefthook.yml
  package.json
  packages/core/CHANGELOG.md
  packages/core/README.ja.md
  packages/core/README.md
  packages/core/docs/types.ja.md
  packages/core/docs/types.md
  packages/core/package.json
  packages/lite/CHANGELOG.md
  packages/lite/README.ja.md
  packages/lite/README.md
  packages/lite/package.json
  packages/lite/tests/bundle.test.ts
  packages/lite/tests/read.test.ts
  pnpm-lock.yaml
Due: lint, markdown

fix(ci): run lite build before test
  .github/workflows/ci.yml
Due: none

docs: reorganize documentation for independent package releases (#161)
  .claude/RELEASE.md
  .claude/RESEARCH.md
  .claude/TESTING.md
  .claude/WORKFLOW.md
  .github/workflows/ci.yml
  .github/workflows/deploy-demo.yml
  .github/workflows/publish-lite.yml
  CLAUDE.md
  CONTRIBUTING.md
  README.ja.md
  README.md
  lefthook.yml
  package.json
  packages/core/CHANGELOG.md
  packages/core/README.ja.md
  packages/core/README.md
  packages/core/docs/types.ja.md
  packages/core/docs/types.md
  packages/core/package.json
  packages/lite/CHANGELOG.md
  packages/lite/README.ja.md
  packages/lite/README.md
  packages/lite/package.json
  packages/lite/tests/bundle.test.ts
  packages/lite/tests/read.test.ts
  pnpm-lock.yaml
Due: lint, markdown

refactor: use DataView and standard APIs for binary operations
  packages/core/src/converters/novelai.ts
  packages/core/src/readers/dimensions.ts
  packages/core/src/readers/exif.ts
  packages/core/src/readers/jpeg.ts
  packages/core/src/readers/png.ts
  packages/core/src/readers/webp.ts
  packages/core/src/utils/binary.ts
  packages/core/src/writers/exif.ts
  packages/core/src/writers/jpeg.ts
  packages/core/src/writers/png.ts
  packages/core/src/writers/webp.ts
  packages/core/tests/unit/utils/binary.test.ts
Due: lint

refactor: use DataView and standard APIs for binary operations (#162)
  packages/core/src/converters/novelai.ts
  packages/core/src/readers/dimensions.ts
  packages/core/src/readers/exif.ts
  packages/core/src/readers/jpeg.ts
  packages/core/src/readers/png.ts
  packages/core/src/readers/webp.ts
  packages/core/src/utils/binary.ts
  packages/core/src/writers/exif.ts
  packages/core/src/writers/jpeg.ts
  packages/core/src/writers/png.ts
  packages/core/src/writers/webp.ts
  packages/core/tests/unit/utils/binary.test.ts
Due: lint

fix: harden parsers and readers against malformed input
  packages/core/src/parsers/a1111.ts
  packages/core/src/parsers/detect.ts
  packages/core/src/parsers/index.ts
  packages/core/src/readers/exif.ts
  packages/core/src/readers/jpeg.ts
  packages/core/src/readers/webp.ts
  packages/core/src/writers/png.ts
Due: lint

fix: harden parsers and readers against malformed input (#163)
  packages/core/src/parsers/a1111.ts
  packages/core/src/parsers/detect.ts
  packages/core/src/parsers/index.ts
  packages/core/src/readers/exif.ts
  packages/core/src/readers/jpeg.ts
  packages/core/src/readers/webp.ts
  packages/core/src/writers/png.ts
Due: lint

chore: release core@2.1.1
  packages/core/CHANGELOG.md
  packages/core/README.ja.md
  packages/core/README.md
  packages/core/package.json
Due: lint, markdown

chore: release core@2.1.1 (#164)
  packages/core/CHANGELOG.md
  packages/core/README.ja.md
  packages/core/README.md
  packages/core/package.json
Due: lint, markdown

fix: resolve demo build failure on Cloudflare Pages
  apps/demo/package.json
Due: lint
