Repository enslo/sd-metadata: changes, and which lefthook commands are due for each by the changed paths.
All: lint, markdown

lint:
  run: pnpm biome check --write {staged_files}
  stage_fixed: true

markdown:
  run: pnpm markdownlint {staged_files}
  stage_fixed: true

refactor: internal type cleanup and DX improvements (#107)
  lefthook.yml
  src/api/read.ts
  src/converters/base-json.ts
  src/converters/civitai.ts
  src/converters/easydiffusion.ts
  src/converters/novelai.ts
  src/converters/swarmui.ts
  src/parsers/a1111.ts
  src/parsers/comfyui.ts
  src/parsers/detect.ts
  src/parsers/easydiffusion.ts
  src/parsers/fooocus.ts
  src/parsers/hf-space.ts
  src/parsers/index.ts
  src/parsers/invokeai.ts
  src/parsers/novelai.ts
  src/parsers/ruined-fooocus.ts
  src/parsers/stability-matrix.ts
  src/parsers/swarmui.ts
  src/parsers/tensorart.ts
  src/types.ts
  src/utils/convert.ts
  src/utils/entries.ts
  src/utils/json.ts
  tests/samples/helpers.ts
  tests/unit/parsers/a1111.test.ts
  tests/unit/parsers/comfyui.test.ts
  tests/unit/parsers/detect.test.ts
  tests/unit/parsers/hf-space.test.ts
  tests/unit/parsers/invokeai.test.ts
  tests/unit/parsers/novelai.test.ts
  tests/unit/parsers/ruined-fooocus.test.ts
  tests/unit/parsers/stability-matrix.test.ts
  tests/unit/parsers/swarmui.test.ts
  tests/unit/parsers/tensorart.test.ts
  tests/unit/serializers/a1111.test.ts
Due: lint

feat(comfyui): improve metadata extraction with class_type lookup
  samples/png/comfyui-comfyroll.png
  samples/png/comfyui-group-nodes.png
  samples/png/comfyui-rgthree.png
  src/parsers/comfyui.ts
  tests/samples/parsers/comfyui.test.ts
  tests/unit/parsers/comfyui.test.ts
Due: lint

refactor(comfyui): split parser into multiple files
  src/parsers/comfyui-civitai.ts
  src/parsers/comfyui-nodes.ts
  src/parsers/comfyui.ts
Due: lint

feat(comfyui): improve metadata extraction with extended node support (#108)
  samples/png/comfyui-comfyroll.png
  samples/png/comfyui-group-nodes.png
  samples/png/comfyui-rgthree.png
  src/parsers/comfyui-civitai.ts
  src/parsers/comfyui-nodes.ts
  src/parsers/comfyui.ts
  tests/samples/parsers/comfyui.test.ts
  tests/unit/parsers/comfyui.test.ts
Due: lint

feat(comfyui): add denoise field to SamplingSettings
  samples/png/comfyui-low-denoise.png
  src/parsers/comfyui-nodes.ts
  src/types.ts
  tests/samples/parsers/comfyui.test.ts
Due: lint

feat(comfyui): add denoise field to SamplingSettings (#110)
  samples/png/comfyui-low-denoise.png
  src/parsers/comfyui-nodes.ts
  src/types.ts
  tests/samples/parsers/comfyui.test.ts
Due: lint

chore: release v1.7.0
  CHANGELOG.md
  README.ja.md
  README.md
  package.json
Due: lint, markdown

chore: release v1.7.0 (#111)
  CHANGELOG.md
  README.ja.md
  README.md
  package.json
Due: lint, markdown

docs: add denoise field to SamplingSettings documentation
  docs/types.ja.md
  docs/types.md
Due: markdown

fix(converters): correct chunk encoding strategies for PNG converters
  src/converters/chunk-encoding.ts
  src/converters/civitai.ts
  src/converters/comfyui.ts
  src/converters/index.ts
  src/converters/stability-matrix.ts
  src/converters/tensorart.ts
Due: lint

fix(converters): correct chunk encoding strategies for PNG converters (#114)
  src/converters/chunk-encoding.ts
  src/converters/civitai.ts
  src/converters/comfyui.ts
  src/converters/index.ts
  src/converters/stability-matrix.ts
  src/converters/tensorart.ts
Due: lint

chore: release v1.7.1
  CHANGELOG.md
  README.ja.md
  README.md
  package.json
Due: lint, markdown

chore: release v1.7.1 (#115)
  CHANGELOG.md
  README.ja.md
  README.md
  package.json
Due: lint, markdown

refactor: optimize bundle size and consolidate duplicated logic
  src/api/read.ts
  src/parsers/a1111.ts
  src/parsers/comfyui-civitai.ts
  src/parsers/comfyui-nodes.ts
  src/parsers/comfyui.ts
  src/parsers/detect.ts
  src/parsers/easydiffusion.ts
  src/utils/convert.ts
Due: lint

refactor(readers): extract image dimension logic to dedicated module
  src/api/read.ts
  src/readers/dimensions.ts
Due: lint

refactor: optimize bundle size and consolidate codebase (#117)
  src/api/read.ts
  src/parsers/a1111.ts
  src/parsers/comfyui-civitai.ts
  src/parsers/comfyui-nodes.ts
  src/parsers/comfyui.ts
  src/parsers/detect.ts
  src/parsers/easydiffusion.ts
  src/readers/dimensions.ts
  src/utils/convert.ts
Due: lint

feat(parsers): support SamplerCustomAdvanced distributed node workflows
  samples/png/comfyui-anima.png
  src/parsers/comfyui-nodes.ts
  src/parsers/comfyui.ts
  tests/samples/parsers/comfyui.test.ts
Due: lint

feat(parsers): support SamplerCustomAdvanced distributed node workflows (#118)
  samples/png/comfyui-anima.png
  src/parsers/comfyui-nodes.ts
  src/parsers/comfyui.ts
  tests/samples/parsers/comfyui.test.ts
Due: lint

feat(parsers): extract hires settings from HF Space use_upscaler
  samples/png/huggingface-space-upscale.png
  src/parsers/hf-space.ts
  tests/samples/parsers/hf-space.test.ts
  tests/unit/parsers/hf-space.test.ts
Due: lint

chore: replace huggingface-animagine sample with huggingface-space
  samples/png/huggingface-animagine.png
  samples/png/huggingface-space.png
  tests/integration/api.test.ts
  tests/samples/parsers/hf-space.test.ts
Due: lint

feat(parsers): extract hires settings from HF Space use_upscaler (#119)
  samples/png/huggingface-animagine.png
  samples/png/huggingface-space-upscale.png
  samples/png/huggingface-space.png
  src/parsers/hf-space.ts
  tests/integration/api.test.ts
  tests/samples/parsers/hf-space.test.ts
  tests/unit/parsers/hf-space.test.ts
Due: lint

chore: release v1.8.0
  CHANGELOG.md
  README.ja.md
  README.md
  package.json
Due: lint, markdown

chore: release v1.8.0 (#120)
  CHANGELOG.md
  README.ja.md
  README.md
  package.json
Due: lint, markdown

refactor(parsers): unify detection and parsing responsibilities
  src/parsers/a1111.ts
  src/parsers/comfyui.ts
  src/parsers/detect.ts
  src/parsers/fooocus.ts
  src/parsers/index.ts
  src/parsers/novelai.ts
  src/parsers/ruined-fooocus.ts
  tests/unit/parsers/a1111.test.ts
  tests/unit/parsers/novelai.test.ts
  tests/unit/parsers/ruined-fooocus.test.ts
  tests/unit/serializers/a1111.test.ts
Due: lint

refactor(parsers): unify detection and parsing responsibilities (#122)
  src/parsers/a1111.ts
  src/parsers/comfyui.ts
  src/parsers/detect.ts
  src/parsers/fooocus.ts
  src/parsers/index.ts
  src/parsers/novelai.ts
  src/parsers/ruined-fooocus.ts
  tests/unit/parsers/a1111.test.ts
  tests/unit/parsers/novelai.test.ts
  tests/unit/parsers/ruined-fooocus.test.ts
  tests/unit/serializers/a1111.test.ts
Due: lint

chore: release v1.8.1
  CHANGELOG.md
  README.ja.md
  README.md
  package.json
Due: lint, markdown

chore: release v1.8.1 (#123)
  CHANGELOG.md
  README.ja.md
  README.md
  package.json
Due: lint, markdown

feat(serializers): add unified stringify function for ParseResult
  src/index.ts
  src/serializers/a1111.ts
  src/serializers/raw.ts
  src/serializers/stringify.ts
  tests/samples/serializers/stringify.test.ts
  tests/unit/serializers/stringify.test.ts
Due: lint

feat(serializers): add unified stringify function for ParseResult (#125)
  src/index.ts
  src/serializers/a1111.ts
  src/serializers/raw.ts
  src/serializers/stringify.ts
  tests/samples/serializers/stringify.test.ts
  tests/unit/serializers/stringify.test.ts
Due: lint

feat(api): add embed() for flexible metadata writing
  src/api/embed.ts
  src/api/write-webui.ts
  src/index.ts
  src/serializers/embed.ts
  src/types.ts
  tests/unit/api/embed.test.ts
  tests/unit/serializers/embed.test.ts
Due: lint

feat(api): add embed() for flexible metadata writing (#126)
  src/api/embed.ts
  src/api/write-webui.ts
  src/index.ts
  src/serializers/embed.ts
  src/types.ts
  tests/unit/api/embed.test.ts
  tests/unit/serializers/embed.test.ts
Due: lint

docs: update documentation for v2.0.0
  CHANGELOG.md
  README.ja.md
  README.md
  docs/types.ja.md
  docs/types.md
  src/index.ts
Due: lint, markdown

feat: add softwareLabels constant and GenerationSoftware type export
  src/constants.ts
  src/index.ts
  tests/unit/constants.test.ts
Due: lint

docs: add softwareLabels and GenerationSoftware to documentation
  CHANGELOG.md
  README.ja.md
  README.md
  docs/types.ja.md
  docs/types.md
Due: markdown

fix: use full official names for Forge variants in softwareLabels
  src/constants.ts
Due: lint

docs: update documentation and add softwareLabels for v2.0.0 (#127)
  CHANGELOG.md
  README.ja.md
  README.md
  docs/types.ja.md
  docs/types.md
  src/constants.ts
  src/index.ts
  tests/unit/constants.test.ts
Due: lint, markdown

refactor: rename forge to forge-classic
  samples/jpg/forge-classic-hires.jpeg
  samples/jpg/forge-classic.jpeg
  samples/png/forge-classic-en.png
  samples/png/forge-classic-hires.png
  samples/png/forge-classic.png
  samples/webp/forge-classic-hires.webp
  samples/webp/forge-classic.webp
  src/constants.ts
  src/converters/a1111.ts
  src/converters/index.ts
  src/parsers/a1111.ts
  src/parsers/detect.ts
  src/parsers/index.ts
  src/types.ts
  tests/helpers/raw-structure.ts
  tests/integration/api.test.ts
  tests/integration/write-webui.test.ts
  tests/samples/parsers/a1111.test.ts
  tests/samples/serializers/stringify.test.ts
  tests/unit/constants.test.ts
  tests/unit/converters/converter.test.ts
  tests/unit/parsers/a1111.test.ts
Due: lint

test(sd-webui): add real SD WebUI sample files and tests
  samples/jpg/sd-webui.jpg
  samples/png/sd-webui-hires.png
  samples/png/sd-webui.png
  samples/webp/sd-webui.webp
  tests/integration/api.test.ts
  tests/samples/parsers/a1111.test.ts
  tests/samples/serializers/stringify.test.ts
Due: lint

Path conditions:
  lint: any of: *.{js,ts,tsx,json}
  markdown: any of: *.md
