Repository enslo/sd-metadata: changes, and which lefthook commands are due for each by the changed paths.
All: lint, markdown

lint:
  run: pnpm biome check --write {staged_files}
  stage_fixed: true

markdown:
  run: pnpm markdownlint {staged_files}
  stage_fixed: true

chore: release lite@1.3.0 (#238)
  packages/lite/CHANGELOG.md
  packages/lite/README.ja.md
  packages/lite/README.md
  packages/lite/package.json
Due: lint, markdown

chore: release core@3.0.0
  packages/core/CHANGELOG.md
  packages/core/README.ja.md
  packages/core/README.md
  packages/core/package.json
Due: lint, markdown

chore: release core@3.0.0 (#237)
  packages/core/CHANGELOG.md
  packages/core/README.ja.md
  packages/core/README.md
  packages/core/package.json
Due: lint, markdown

docs: reorganize README for reader-first navigation
  .claude/RESEARCH.md
  README.ja.md
  README.md
  packages/core/README.ja.md
  packages/core/README.md
  packages/core/docs/types.ja.md
  packages/core/docs/types.md
Due: markdown

docs: reorganize README for reader-first navigation (#239)
  .claude/RESEARCH.md
  README.ja.md
  README.md
  packages/core/README.ja.md
  packages/core/README.md
  packages/core/docs/types.ja.md
  packages/core/docs/types.md
Due: markdown

chore: satisfy Biome 2.5.3 lint rules after catalog bump
  apps/demo-lite/biome.json
  apps/demo/public/favicon.svg
  biome.json
  packages/core/src/parsers/fooocus.ts
  packages/core/src/parsers/ruined-fooocus.ts
  packages/lite/biome.json
Due: lint

chore(deps): keep typescript at 6.0.3, defer the TS 7 major
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore(dependabot): keep major bumps out of routine catalog PRs
  .github/dependabot.yml
Due: none

chore: upgrade TypeScript to 7.0.2
  packages/lite/tsconfig.build.json
  packages/lite/tsdown.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint

chore: upgrade TypeScript to 7.0.2 (#248)
  packages/lite/tsconfig.build.json
  packages/lite/tsdown.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint

chore: add Dev Container configuration
  .devcontainer/devcontainer-lock.json
  .devcontainer/devcontainer.json
  .gitignore
Due: lint

chore: add Dev Container configuration (#249)
  .devcontainer/devcontainer-lock.json
  .devcontainer/devcontainer.json
  .gitignore
Due: lint

feat: support ComfyUI's official Save Animated WEBP metadata format
  packages/core/src/converters/comfyui.ts
  packages/core/src/readers/exif.ts
  packages/core/src/types.ts
  packages/core/src/utils/convert.ts
  packages/core/src/utils/exif-constants.ts
  packages/core/src/writers/exif.ts
  packages/core/src/writers/jpeg.ts
  packages/core/tests/helpers/raw-structure.ts
  packages/core/tests/helpers/samples.ts
  packages/core/tests/samples/parsers/comfyui.test.ts
  packages/core/tests/unit/converters/comfyui.test.ts
  packages/core/tests/unit/utils/exif.test.ts
  packages/lite/src/read.ts
  samples/webp/comfyui-animated-webp.webp
Due: lint

fix: add exifModel label to demo raw view
  apps/demo/src/components/Results/RawTabContent.tsx
Due: lint

feat: support ComfyUI's official Save Animated WEBP metadata format (#250)
  apps/demo/src/components/Results/RawTabContent.tsx
  packages/core/src/converters/comfyui.ts
  packages/core/src/readers/exif.ts
  packages/core/src/types.ts
  packages/core/src/utils/convert.ts
  packages/core/src/utils/exif-constants.ts
  packages/core/src/writers/exif.ts
  packages/core/src/writers/jpeg.ts
  packages/core/tests/helpers/raw-structure.ts
  packages/core/tests/helpers/samples.ts
  packages/core/tests/samples/parsers/comfyui.test.ts
  packages/core/tests/unit/converters/comfyui.test.ts
  packages/core/tests/unit/utils/exif.test.ts
  packages/lite/src/read.ts
  samples/webp/comfyui-animated-webp.webp
Due: lint

chore: bind demo Vite dev servers to all hosts for Dev Container
  apps/demo-lite/vite.config.ts
  apps/demo/vite.config.ts
Due: lint

chore: bind demo Vite dev servers to all hosts for Dev Container (#251)
  apps/demo-lite/vite.config.ts
  apps/demo/vite.config.ts
Due: lint

chore: release lite@1.4.0
  packages/lite/CHANGELOG.md
  packages/lite/README.ja.md
  packages/lite/README.md
  packages/lite/package.json
Due: lint, markdown

chore: release lite@1.4.0 (#253)
  packages/lite/CHANGELOG.md
  packages/lite/README.ja.md
  packages/lite/README.md
  packages/lite/package.json
Due: lint, markdown

chore: release core@3.1.0
  packages/core/CHANGELOG.md
  packages/core/README.ja.md
  packages/core/README.md
  packages/core/docs/types.ja.md
  packages/core/docs/types.md
  packages/core/package.json
Due: lint, markdown

chore: release core@3.1.0 (#252)
  packages/core/CHANGELOG.md
  packages/core/README.ja.md
  packages/core/README.md
  packages/core/docs/types.ja.md
  packages/core/docs/types.md
  packages/core/package.json
Due: lint, markdown

chore: modernize Claude Code setup with skills and shared settings
  .claude/TESTING.md
  .claude/WORKFLOW.md
  .claude/settings.json
  .claude/skills/new-tool/SKILL.md
  .claude/skills/release/SKILL.md
  .claude/skills/research/SKILL.md
  CLAUDE.md
  packages/core/package.json
  pnpm-lock.yaml
Due: lint, markdown

chore: modernize Claude Code setup with skills and shared settings (#259)
  .claude/TESTING.md
  .claude/WORKFLOW.md
  .claude/settings.json
  .claude/skills/new-tool/SKILL.md
  .claude/skills/release/SKILL.md
  .claude/skills/research/SKILL.md
  CLAUDE.md
  packages/core/package.json
  pnpm-lock.yaml
Due: lint, markdown

feat(comfyui): extract user prompt through ComfySwitchNode/PreviewAny chains
  packages/core/src/parsers/comfyui-nodes.ts
  packages/core/tests/samples/parsers/comfyui.test.ts
  packages/core/tests/unit/parsers/comfyui.test.ts
Due: lint

test: add Krea-2 Turbo template sample
  samples/png/krea2.png
Due: none

feat(lite): recover user prompt from enhancer-template metadata
  packages/lite/src/extract.ts
Due: lint

feat(comfyui): extract user prompt through ComfySwitchNode/PreviewAny chains (#261)
  packages/core/src/parsers/comfyui-nodes.ts
  packages/core/tests/samples/parsers/comfyui.test.ts
  packages/core/tests/unit/parsers/comfyui.test.ts
  packages/lite/src/extract.ts
  samples/png/krea2.png
Due: lint

fix: prevent ADetailer Version from shadowing software Version detection
  packages/core/src/parsers/detect.ts
  packages/core/tests/samples/parsers/a1111.test.ts
  packages/core/tests/unit/parsers/detect.test.ts
  samples/png/forge-classic-adetailer.png
  samples/png/forge-neo-adetailer.png
Due: lint

fix: prevent ADetailer Version from shadowing software Version detection (#262)
  packages/core/src/parsers/detect.ts
  packages/core/tests/samples/parsers/a1111.test.ts
  packages/core/tests/unit/parsers/detect.test.ts
  samples/png/forge-classic-adetailer.png
  samples/png/forge-neo-adetailer.png
Due: lint

chore: release lite@1.5.0
  packages/lite/CHANGELOG.md
  packages/lite/README.ja.md
  packages/lite/README.md
  packages/lite/package.json
Due: lint, markdown

chore: release lite@1.5.0 (#263)
  packages/lite/CHANGELOG.md
  packages/lite/README.ja.md
  packages/lite/README.md
  packages/lite/package.json
Due: lint, markdown

chore: release core@3.2.0
  packages/core/CHANGELOG.md
  packages/core/README.ja.md
  packages/core/README.md
  packages/core/package.json
Due: lint, markdown

chore: release core@3.2.0 (#264)
  packages/core/CHANGELOG.md
  packages/core/README.ja.md
  packages/core/README.md
  packages/core/package.json
Due: lint, markdown

feat(demo): unify save bar and edit tab into an Output tab
  apps/demo/src/components/EmbedEditor/EmbedEditor.tsx
  apps/demo/src/components/EmbedEditor/index.ts
  apps/demo/src/components/OutputTab/ExtrasEditor.tsx
  apps/demo/src/components/OutputTab/MetadataForm.tsx
  apps/demo/src/components/OutputTab/OutputTab.tsx
  apps/demo/src/components/OutputTab/index.ts
  apps/demo/src/components/Results/Results.tsx
  apps/demo/src/components/SaveBar/SaveBar.tsx
  apps/demo/src/components/SaveBar/index.ts
  apps/demo/src/i18n/en.json
  apps/demo/src/i18n/ja.json
  apps/demo/src/lib/image.ts
Due: lint

feat(demo): unify save bar and edit tab into an Output tab (#265)
  apps/demo/src/components/EmbedEditor/EmbedEditor.tsx
  apps/demo/src/components/EmbedEditor/index.ts
  apps/demo/src/components/OutputTab/ExtrasEditor.tsx
  apps/demo/src/components/OutputTab/MetadataForm.tsx
  apps/demo/src/components/OutputTab/OutputTab.tsx
  apps/demo/src/components/OutputTab/index.ts
  apps/demo/src/components/Results/Results.tsx
  apps/demo/src/components/SaveBar/SaveBar.tsx
  apps/demo/src/components/SaveBar/index.ts
  apps/demo/src/i18n/en.json
  apps/demo/src/i18n/ja.json
  apps/demo/src/lib/image.ts
Due: lint

fix: respect TIFF byte order when decoding UTF-16 UserComment
  packages/core/src/readers/exif.ts
  packages/core/tests/integration/embed.test.ts
  packages/core/tests/unit/utils/exif.test.ts
Due: lint

fix: respect TIFF byte order when decoding UTF-16 UserComment (#266)
  packages/core/src/readers/exif.ts
  packages/core/tests/integration/embed.test.ts
  packages/core/tests/unit/utils/exif.test.ts
Due: lint

feat: align embedded Exif output with real-world tools
  packages/core/src/writers/exif.ts
  packages/core/tests/unit/utils/exif.test.ts
Due: lint

feat: align embedded Exif output with real-world tools (#267)
  packages/core/src/writers/exif.ts
  packages/core/tests/unit/utils/exif.test.ts
Due: lint

chore: release core@3.3.0
  packages/core/CHANGELOG.md
  packages/core/README.ja.md
  packages/core/README.md
  packages/core/package.json
Due: lint, markdown

Path conditions:
  lint: any of: *.{js,ts,tsx,json}
  markdown: any of: *.md
