Repository enslo/sd-metadata: changes, and which lefthook commands are due for each by the changed paths.
All: lint, markdown

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,tsx,json}"
      run: pnpm biome check --write {staged_files}
      stage_fixed: true
    typecheck:
      run: pnpm --filter @enslo/sd-metadata typecheck && pnpm --filter @enslo/sd-metadata-lite typecheck
    markdown:
      glob: "*.md"
      run: pnpm markdownlint {staged_files}
      stage_fixed: true

ci: trigger demo deploy on push instead of npm publish
  .github/workflows/deploy-demo.yml
Due: none

fix: resolve demo build failure on Cloudflare Pages (#165)
  .github/workflows/deploy-demo.yml
  apps/demo/package.json
Due: lint

ci: trigger demo deploy on core release, not push
  .github/workflows/deploy-demo.yml
Due: none

ci: trigger demo deploy on core release only (#166)
  .github/workflows/deploy-demo.yml
Due: none

chore: release lite@1.0.0
  packages/lite/CHANGELOG.md
  packages/lite/README.ja.md
  packages/lite/README.md
  packages/lite/package.json
Due: lint, markdown

chore: release lite@1.0.0 (#167)
  packages/lite/CHANGELOG.md
  packages/lite/README.ja.md
  packages/lite/README.md
  packages/lite/package.json
Due: lint, markdown

refactor(lite): unify hires extraction in extractCommon
  packages/lite/src/extract.ts
  packages/lite/tests/read.test.ts
Due: lint

refactor(lite): unify hires extraction in extractCommon (#168)
  packages/lite/src/extract.ts
  packages/lite/tests/read.test.ts
Due: lint

chore(lite): add vitest config for coverage reporting
  packages/lite/vitest.config.ts
Due: lint

chore(lite): add vitest config for coverage reporting (#169)
  packages/lite/vitest.config.ts
Due: lint

feat: add lite demo site
  .github/workflows/ci.yml
  .github/workflows/deploy-demo-lite.yml
  apps/demo-lite/index.html
  apps/demo-lite/package.json
  apps/demo-lite/src/main.ts
  apps/demo-lite/src/style.css
  apps/demo-lite/tsconfig.json
  apps/demo-lite/vite.config.ts
  pnpm-lock.yaml
Due: lint

refactor(demo-lite): simplify DOM queries with non-null assertions
  apps/demo-lite/biome.json
  apps/demo-lite/src/main.ts
Due: lint

feat: add lite demo site (#170)
  .github/workflows/ci.yml
  .github/workflows/deploy-demo-lite.yml
  apps/demo-lite/biome.json
  apps/demo-lite/index.html
  apps/demo-lite/package.json
  apps/demo-lite/src/main.ts
  apps/demo-lite/src/style.css
  apps/demo-lite/tsconfig.json
  apps/demo-lite/vite.config.ts
  pnpm-lock.yaml
Due: lint

feat(demo-lite): switch to warm cream theme with teal accent
  apps/demo-lite/src/style.css
Due: none

feat(demo-lite): switch to warm cream theme with teal accent (#171)
  apps/demo-lite/src/style.css
Due: none

ci: parallelize core and lite CI jobs with path filtering
  .github/workflows/ci.yml
Due: none

ci: parallelize core and lite CI jobs with path filtering (#172)
  .github/workflows/ci.yml
Due: none

feat(demo): display library version in footer
  apps/demo/src/App.tsx
  apps/demo/vite.config.ts
Due: lint

feat(demo): display library version in footer (#173)
  apps/demo/src/App.tsx
  apps/demo/vite.config.ts
Due: lint

docs: add demo site links across READMEs and demo sites
  .claude/RELEASE.md
  README.ja.md
  README.md
  apps/demo-lite/index.html
  apps/demo-lite/src/style.css
  apps/demo/src/App.tsx
  apps/demo/src/i18n/en.json
  apps/demo/src/i18n/ja.json
  packages/core/README.ja.md
  packages/core/README.md
  packages/lite/README.ja.md
  packages/lite/README.md
  packages/lite/package.json
Due: lint, markdown

docs: change demo badge color to blueviolet
  README.ja.md
  README.md
Due: markdown

docs: use Cloudflare logo on demo badges
  README.ja.md
  README.md
Due: markdown

docs: replace flag emoji with globe for language links
  README.md
  packages/core/README.md
  packages/core/docs/types.md
  packages/lite/README.md
Due: markdown

docs: add demo site links across READMEs and demo sites (#174)
  .claude/RELEASE.md
  README.ja.md
  README.md
  apps/demo-lite/index.html
  apps/demo-lite/src/style.css
  apps/demo/src/App.tsx
  apps/demo/src/i18n/en.json
  apps/demo/src/i18n/ja.json
  packages/core/README.ja.md
  packages/core/README.md
  packages/core/docs/types.md
  packages/lite/README.ja.md
  packages/lite/README.md
  packages/lite/package.json
Due: lint, markdown

chore: release lite@1.1.0
  README.ja.md
  README.md
  packages/lite/CHANGELOG.md
  packages/lite/README.ja.md
  packages/lite/README.md
  packages/lite/package.json
Due: lint, markdown

chore: release lite@1.1.0 (#175)
  README.ja.md
  README.md
  packages/lite/CHANGELOG.md
  packages/lite/README.ja.md
  packages/lite/README.md
  packages/lite/package.json
Due: lint, markdown

fix(ci): run build before tests in publish workflows
  .github/workflows/publish-core.yml
  .github/workflows/publish-lite.yml
Due: none

fix(ci): run build before tests in publish workflows (#176)
  .github/workflows/publish-core.yml
  .github/workflows/publish-lite.yml
Due: none

feat(demo): improve UX for parsed settings and embed editor
  apps/demo/src/components/EmbedEditor/EmbedEditor.tsx
  apps/demo/src/components/EmbedEditor/MetadataForm.tsx
  apps/demo/src/components/Results/ParsedTabContent.tsx
  apps/demo/src/i18n/en.json
  apps/demo/src/i18n/ja.json
Due: lint

feat(demo): unify font stacks between core and lite demos
  apps/demo-lite/src/style.css
  apps/demo/src/App.tsx
  apps/demo/src/main.tsx
Due: lint

feat(demo): improve UX and unify fonts across demo sites (#177)
  apps/demo-lite/src/style.css
  apps/demo/src/App.tsx
  apps/demo/src/components/EmbedEditor/EmbedEditor.tsx
  apps/demo/src/components/EmbedEditor/MetadataForm.tsx
  apps/demo/src/components/Results/ParsedTabContent.tsx
  apps/demo/src/i18n/en.json
  apps/demo/src/i18n/ja.json
  apps/demo/src/main.tsx
Due: lint

docs: improve README heading consistency and field description clarity
  packages/core/README.ja.md
  packages/core/README.md
  packages/lite/README.ja.md
  packages/lite/README.md
Due: markdown

docs: improve README heading consistency and field description clarity (#178)
  packages/core/README.ja.md
  packages/core/README.md
  packages/lite/README.ja.md
  packages/lite/README.md
Due: markdown

feat: add Draw Things parser with native XMP read/write support
  packages/core/README.ja.md
  packages/core/README.md
  packages/core/src/constants.ts
  packages/core/src/converters/draw-things.ts
  packages/core/src/converters/index.ts
  packages/core/src/parsers/detect.ts
  packages/core/src/parsers/draw-things.ts
  packages/core/src/parsers/index.ts
  packages/core/src/readers/jpeg.ts
  packages/core/src/readers/webp.ts
  packages/core/src/types.ts
  packages/core/src/utils/convert.ts
  packages/core/src/utils/xmp.ts
  packages/core/src/writers/jpeg.ts
  packages/core/src/writers/webp.ts
  packages/core/tests/helpers/raw-structure.ts
  packages/core/tests/unit/parsers/draw-things.test.ts
  packages/core/tests/unit/utils/xmp.test.ts
Due: lint, markdown

fix(demo): add xmpPacket to SOURCE_LABELS record
  apps/demo/src/components/Results/RawTabContent.tsx
Due: lint

feat: add Draw Things parser with native XMP read/write (#181)
  apps/demo/src/components/Results/RawTabContent.tsx
  packages/core/README.ja.md
  packages/core/README.md
  packages/core/src/constants.ts
  packages/core/src/converters/draw-things.ts
  packages/core/src/converters/index.ts
  packages/core/src/parsers/detect.ts
  packages/core/src/parsers/draw-things.ts
  packages/core/src/parsers/index.ts
  packages/core/src/readers/jpeg.ts
  packages/core/src/readers/webp.ts
  packages/core/src/types.ts
  packages/core/src/utils/convert.ts
  packages/core/src/utils/xmp.ts
  packages/core/src/writers/jpeg.ts
  packages/core/src/writers/webp.ts
  packages/core/tests/helpers/raw-structure.ts
  packages/core/tests/unit/parsers/draw-things.test.ts
  packages/core/tests/unit/utils/xmp.test.ts
Due: lint, markdown

chore: release core@2.2.0
  .claude/RELEASE.md
  README.ja.md
  README.md
  packages/core/CHANGELOG.md
  packages/core/README.ja.md
  packages/core/README.md
  packages/core/docs/types.ja.md
  packages/core/docs/types.md
  packages/core/package.json
Due: lint, markdown

chore: release core@2.2.0 (#183)
  .claude/RELEASE.md
  README.ja.md
  README.md
  packages/core/CHANGELOG.md
  packages/core/README.ja.md
  packages/core/README.md
  packages/core/docs/types.ja.md
  packages/core/docs/types.md
  packages/core/package.json
Due: lint, markdown

fix: use npm license badge instead of GitHub license detection
  README.ja.md
  README.md
Due: markdown

fix: use npm license badge instead of GitHub license detection (#184)
  README.ja.md
  README.md
Due: markdown
