Repository enslo/sd-metadata: changes, and which lefthook commands are due for each by the changed paths.
All: lint, markdown

lint:
  run: pnpm biome check --write {staged_files}
  stage_fixed: true

markdown:
  run: pnpm markdownlint {staged_files}
  stage_fixed: true

feat(parsers): add Forge, reForge, and EasyReforge detection (#119)
  samples/jpg/reforge-hires.jpeg
  samples/jpg/reforge.jpeg
  samples/png/easy-reforge.png
  samples/png/forge.png
  samples/png/reforge-hires.png
  samples/png/reforge.png
  samples/webp/reforge-hires.webp
  src/constants.ts
  src/converters/index.ts
  src/parsers/a1111.ts
  src/parsers/detect.ts
  src/parsers/index.ts
  src/types.ts
  tests/helpers/raw-structure.ts
  tests/integration/api.test.ts
  tests/samples/parsers/a1111.test.ts
  tests/unit/constants.test.ts
  tests/unit/converters/converter.test.ts
  tests/unit/parsers/a1111.test.ts
Due: lint

refactor(parsers): pass software from router to parseA1111
  src/parsers/a1111.ts
  src/parsers/index.ts
  tests/samples/parsers/a1111.test.ts
  tests/unit/parsers/a1111.test.ts
  tests/unit/serializers/a1111.test.ts
Due: lint

docs: update tool support table and type references for new Forge variants
  README.ja.md
  README.md
  docs/types.ja.md
  docs/types.md
Due: markdown

feat(parsers): expand SD WebUI family detection (#129)
  README.ja.md
  README.md
  docs/types.ja.md
  docs/types.md
  samples/jpg/forge-classic-hires.jpeg
  samples/jpg/forge-classic.jpeg
  samples/jpg/reforge-hires.jpeg
  samples/jpg/reforge.jpeg
  samples/jpg/sd-webui.jpg
  samples/png/easy-reforge.png
  samples/png/forge-classic-en.png
  samples/png/forge-classic-hires.png
  samples/png/forge-classic.png
  samples/png/forge.png
  samples/png/reforge-hires.png
  samples/png/reforge.png
  samples/png/sd-webui-hires.png
  samples/png/sd-webui.png
  samples/webp/forge-classic-hires.webp
  samples/webp/forge-classic.webp
  samples/webp/reforge-hires.webp
  samples/webp/sd-webui.webp
  src/constants.ts
  src/converters/a1111.ts
  src/converters/index.ts
  src/parsers/a1111.ts
  src/parsers/detect.ts
  src/parsers/index.ts
  src/types.ts
  tests/helpers/raw-structure.ts
  tests/integration/api.test.ts
  tests/integration/write-webui.test.ts
  tests/samples/parsers/a1111.test.ts
  tests/samples/serializers/stringify.test.ts
  tests/unit/constants.test.ts
  tests/unit/converters/converter.test.ts
  tests/unit/parsers/a1111.test.ts
  tests/unit/serializers/a1111.test.ts
Due: lint, markdown

feat(parsers): rewrite Fooocus parser with dual-scheme support
  .gitignore
  README.ja.md
  README.md
  src/converters/index.ts
  src/parsers/a1111.ts
  src/parsers/detect.ts
  src/parsers/fooocus.ts
  src/parsers/index.ts
  tests/helpers/raw-structure.ts
  tests/unit/parsers/detect.test.ts
  tests/unit/parsers/fooocus.test.ts
Due: lint, markdown

docs: add Fooocus rewrite and Forge detection to CHANGELOG
  CHANGELOG.md
Due: markdown

docs: simplify CHANGELOG entries for user-facing clarity
  CHANGELOG.md
Due: markdown

feat(parsers): rewrite Fooocus parser with dual-scheme support (#130)
  .gitignore
  CHANGELOG.md
  README.ja.md
  README.md
  src/converters/index.ts
  src/parsers/a1111.ts
  src/parsers/detect.ts
  src/parsers/fooocus.ts
  src/parsers/index.ts
  tests/helpers/raw-structure.ts
  tests/unit/parsers/detect.test.ts
  tests/unit/parsers/fooocus.test.ts
Due: lint, markdown

refactor(parsers): improve Easy Diffusion parser based on source code analysis
  CHANGELOG.md
  src/converters/easydiffusion.ts
  src/parsers/detect.ts
  src/parsers/easydiffusion.ts
  tests/unit/parsers/detect.test.ts
  tests/unit/parsers/easydiffusion.test.ts
Due: lint, markdown

refactor(parsers): improve Easy Diffusion parser based on source code analysis (#131)
  CHANGELOG.md
  src/converters/easydiffusion.ts
  src/parsers/detect.ts
  src/parsers/easydiffusion.ts
  tests/unit/parsers/detect.test.ts
  tests/unit/parsers/easydiffusion.test.ts
Due: lint, markdown

refactor(serializers): unify serializers and extend stringify/embed API
  CHANGELOG.md
  README.ja.md
  README.md
  docs/types.ja.md
  docs/types.md
  src/api/embed.ts
  src/api/write-webui.ts
  src/index.ts
  src/serializers/a1111.ts
  src/serializers/embed.ts
  src/serializers/stringify.ts
  src/types.ts
  tests/samples/serializers/stringify.test.ts
  tests/unit/api/embed.test.ts
  tests/unit/serializers/a1111.test.ts
  tests/unit/serializers/embed.test.ts
  tests/unit/serializers/stringify.test.ts
Due: lint, markdown

refactor: eliminate serializers/ layer, consolidate into api/stringify
  src/api/embed.ts
  src/api/stringify.ts
  src/index.ts
  src/serializers/a1111.ts
  src/serializers/raw.ts
  src/serializers/stringify.ts
  tests/samples/serializers/raw.test.ts
  tests/samples/serializers/stringify.test.ts
  tests/unit/serializers/embed.test.ts
  tests/unit/serializers/raw.test.ts
  tests/unit/serializers/stringify.test.ts
Due: lint

refactor: eliminate write-webui wrapper, alias writeAsWebUI to embed
  src/api/write-webui.ts
  src/index.ts
  tests/integration/write-webui.test.ts
  tests/unit/api/write-webui.test.ts
Due: lint

refactor(tests): reorganize tests to match source structure
  tests/integration/embed.test.ts
  tests/samples/api/stringify.test.ts
  tests/samples/serializers/raw.test.ts
  tests/unit/api/embed.test.ts
  tests/unit/api/stringify.test.ts
  tests/unit/api/write-webui.test.ts
  tests/unit/serializers/embed.test.ts
  tests/unit/serializers/raw.test.ts
  tests/unit/serializers/stringify.test.ts
Due: lint

refactor: unify serializers and consolidate API layer (#132)
  CHANGELOG.md
  README.ja.md
  README.md
  docs/types.ja.md
  docs/types.md
  src/api/embed.ts
  src/api/stringify.ts
  src/api/write-webui.ts
  src/index.ts
  src/serializers/a1111.ts
  src/serializers/raw.ts
  src/serializers/stringify.ts
  src/types.ts
  tests/integration/embed.test.ts
  tests/samples/api/stringify.test.ts
  tests/samples/serializers/raw.test.ts
  tests/unit/api/embed.test.ts
  tests/unit/api/stringify.test.ts
  tests/unit/api/write-webui.test.ts
  tests/unit/serializers/a1111.test.ts
  tests/unit/serializers/embed.test.ts
  tests/unit/serializers/raw.test.ts
  tests/unit/serializers/stringify.test.ts
Due: lint, markdown

refactor(types): co-locate internal types with their modules
  src/api/embed.ts
  src/api/read.ts
  src/api/write.ts
  src/converters/index.ts
  src/index.ts
  src/parsers/a1111.ts
  src/parsers/comfyui.ts
  src/parsers/easydiffusion.ts
  src/parsers/fooocus.ts
  src/parsers/hf-space.ts
  src/parsers/index.ts
  src/parsers/invokeai.ts
  src/parsers/novelai.ts
  src/parsers/ruined-fooocus.ts
  src/parsers/stability-matrix.ts
  src/parsers/swarmui.ts
  src/parsers/tensorart.ts
  src/parsers/types.ts
  src/readers/jpeg.ts
  src/readers/png.ts
  src/readers/webp.ts
  src/types.ts
  src/writers/jpeg.ts
  src/writers/png.ts
  src/writers/webp.ts
  tests/samples/helpers.ts
  tests/unit/converters/converter.test.ts
Due: lint

refactor(types): co-locate internal types with their modules (#133)
  src/api/embed.ts
  src/api/read.ts
  src/api/write.ts
  src/converters/index.ts
  src/index.ts
  src/parsers/a1111.ts
  src/parsers/comfyui.ts
  src/parsers/easydiffusion.ts
  src/parsers/fooocus.ts
  src/parsers/hf-space.ts
  src/parsers/index.ts
  src/parsers/invokeai.ts
  src/parsers/novelai.ts
  src/parsers/ruined-fooocus.ts
  src/parsers/stability-matrix.ts
  src/parsers/swarmui.ts
  src/parsers/tensorart.ts
  src/parsers/types.ts
  src/readers/jpeg.ts
  src/readers/png.ts
  src/readers/webp.ts
  src/types.ts
  src/writers/jpeg.ts
  src/writers/png.ts
  src/writers/webp.ts
  tests/samples/helpers.ts
  tests/unit/converters/converter.test.ts
Due: lint

feat(demo): add stringify tab and embed editor for v2.0.0
  demo/src/App.tsx
  demo/src/components/EmbedEditor/EmbedEditor.module.css
  demo/src/components/EmbedEditor/EmbedEditor.tsx
  demo/src/components/EmbedEditor/ExtrasEditor.tsx
  demo/src/components/EmbedEditor/MetadataForm.tsx
  demo/src/components/EmbedEditor/index.ts
  demo/src/components/Results/Results.module.css
  demo/src/components/Results/Results.tsx
  demo/src/components/SaveFab/utils.ts
  demo/src/i18n/en.json
  demo/src/i18n/ja.json
  demo/src/lib/image.ts
Due: lint

feat(demo): migrate UI to Mantine component library
  demo/package.json
  demo/src/App.module.css
  demo/src/App.tsx
  demo/src/components/CopyButton/CopyButton.module.css
  demo/src/components/CopyButton/CopyButton.tsx
  demo/src/components/DropZone/DropZone.module.css
  demo/src/components/DropZone/DropZone.tsx
  demo/src/components/EmbedEditor/EmbedEditor.module.css
  demo/src/components/EmbedEditor/EmbedEditor.tsx
  demo/src/components/EmbedEditor/ExtrasEditor.tsx
  demo/src/components/EmbedEditor/MetadataForm.tsx
  demo/src/components/GitHubCorner/GitHubCorner.module.css
  demo/src/components/LanguageSwitcher/LanguageSwitcher.module.css
  demo/src/components/LanguageSwitcher/LanguageSwitcher.tsx
  demo/src/components/Results/ParsedMetadata.tsx
  demo/src/components/Results/RawData.tsx
  demo/src/components/Results/Results.module.css
  demo/src/components/Results/Results.tsx
  demo/src/components/SaveFab/SaveFab.module.css
  demo/src/components/SaveFab/SaveFab.tsx
  demo/src/components/ScrollToTop/ScrollToTop.module.css
  demo/src/components/ScrollToTop/ScrollToTop.tsx
  demo/src/main.tsx
  demo/src/styles/global.css
  pnpm-lock.yaml
Due: lint

refactor(demo): move embed editor to tab and unify i18n field labels
  demo/src/App.tsx
  demo/src/components/EmbedEditor/EmbedEditor.tsx
  demo/src/components/EmbedEditor/MetadataForm.tsx
  demo/src/components/LanguageSwitcher/LanguageSwitcher.tsx
  demo/src/components/Results/ParsedMetadata.tsx
  demo/src/components/Results/Results.tsx
  demo/src/i18n/en.json
  demo/src/i18n/ja.json
Due: lint

feat(demo): highlight drop zone on global drag with scale transition
  demo/src/components/DropZone/DropZone.tsx
Due: lint

feat(demo): improve results UI with ContentPanel and visual polish
  demo/src/components/EmbedEditor/EmbedEditor.tsx
  demo/src/components/Results/ContentPanel.tsx
  demo/src/components/Results/ParsedMetadata.tsx
  demo/src/components/Results/RawData.tsx
  demo/src/components/Results/Results.tsx
Due: lint

feat(demo): replace SaveFab with inline SaveBar
  demo/src/App.tsx
  demo/src/components/Results/Results.tsx
  demo/src/components/SaveBar/SaveBar.tsx
  demo/src/components/SaveBar/index.ts
  demo/src/components/SaveFab/SaveFab.tsx
  demo/src/components/SaveFab/index.ts
  demo/src/components/SaveFab/utils.ts
  demo/src/i18n/en.json
  demo/src/i18n/ja.json
Due: lint

refactor(demo): move SaveBar into Results and hide on embed tab
  demo/src/App.tsx
  demo/src/components/Results/Results.tsx
Due: lint

refactor(demo): replace individual margins with parent Stack gap
  demo/src/App.tsx
  demo/src/components/Results/Results.tsx
  demo/src/components/SaveBar/SaveBar.tsx
Due: lint

feat(demo): add light/dark theme toggle and toolbar improvements
  demo/src/App.tsx
  demo/src/components/LanguageSwitcher/LanguageSwitcher.tsx
  demo/src/components/Results/ContentPanel.tsx
  demo/src/components/ThemeToggle/ThemeToggle.tsx
  demo/src/i18n/en.json
  demo/src/i18n/ja.json
  demo/src/main.tsx
  demo/src/styles/global.css
Due: lint

fix(demo): UI tweaks for scrollbar, badge, and section labels
  demo/src/components/DropZone/DropZone.tsx
  demo/src/components/Results/ParsedMetadata.tsx
  demo/src/styles/global.css
Due: lint

feat(demo): add descriptive suffixes to saved filenames
  demo/src/components/EmbedEditor/EmbedEditor.tsx
  demo/src/components/SaveBar/SaveBar.tsx
  demo/src/lib/image.ts
Due: lint

feat(demo): add SVG favicon with magnifying glass icon
  demo/index.html
  demo/public/favicon.svg
Due: none

feat(demo): v2 demo site overhaul with Mantine UI (#134)
  demo/index.html
  demo/package.json
  demo/public/favicon.svg
  demo/src/App.module.css
  demo/src/App.tsx
  demo/src/components/CopyButton/CopyButton.module.css
  demo/src/components/CopyButton/CopyButton.tsx
  demo/src/components/DropZone/DropZone.module.css
  demo/src/components/DropZone/DropZone.tsx
  demo/src/components/EmbedEditor/EmbedEditor.tsx
  demo/src/components/EmbedEditor/ExtrasEditor.tsx
  demo/src/components/EmbedEditor/MetadataForm.tsx
  demo/src/components/EmbedEditor/index.ts
  demo/src/components/GitHubCorner/GitHubCorner.module.css
  demo/src/components/LanguageSwitcher/LanguageSwitcher.module.css
  demo/src/components/LanguageSwitcher/LanguageSwitcher.tsx
  demo/src/components/Results/ContentPanel.tsx
  demo/src/components/Results/ParsedMetadata.tsx
  demo/src/components/Results/RawData.tsx
  demo/src/components/Results/Results.module.css
  demo/src/components/Results/Results.tsx
  demo/src/components/SaveBar/SaveBar.tsx
  demo/src/components/SaveBar/index.ts
  demo/src/components/SaveFab/SaveFab.module.css
  demo/src/components/SaveFab/SaveFab.tsx
  demo/src/components/SaveFab/index.ts
  demo/src/components/ScrollToTop/ScrollToTop.module.css
  demo/src/components/ScrollToTop/ScrollToTop.tsx
  demo/src/components/ThemeToggle/ThemeToggle.tsx
  demo/src/i18n/en.json
  demo/src/i18n/ja.json
  demo/src/lib/image.ts
  demo/src/main.tsx
  demo/src/styles/global.css
  pnpm-lock.yaml
Due: lint

chore: upgrade dependencies and migrate Biome to v2
  CLAUDE.md
  biome.json
  demo/package.json
  package.json
  pnpm-lock.yaml
Due: lint, markdown

style: apply Biome v2 formatting and remove stale suppressions
  demo/src/App.tsx
  demo/src/components/EmbedEditor/EmbedEditor.tsx
  demo/src/components/EmbedEditor/MetadataForm.tsx
  demo/src/components/Results/ParsedMetadata.tsx
  demo/src/components/Results/Results.tsx
  demo/src/components/SaveBar/SaveBar.tsx
  demo/src/components/ThemeToggle/ThemeToggle.tsx
  demo/src/main.tsx
  src/api/embed.ts
  src/api/read.ts
  src/index.ts
  src/readers/jpeg.ts
  src/readers/png.ts
  src/readers/webp.ts
  src/writers/jpeg.ts
  src/writers/png.ts
  src/writers/webp.ts
  tests/integration/format-conversion.test.ts
  tests/integration/round-trip.test.ts
  tests/unit/api/image-input.test.ts
Due: lint

ci: add Dependabot configuration for automated dependency updates
  .github/dependabot.yml
Due: none

chore: add demo script to run demo dev server from root
  package.json
Due: lint

fix: sync pnpm-lock.yaml with updated version specifiers
  pnpm-lock.yaml
Due: none

chore: upgrade dependencies and add Dependabot (#135)
  .github/dependabot.yml
  CLAUDE.md
  biome.json
  demo/package.json
  demo/src/App.tsx
  demo/src/components/EmbedEditor/EmbedEditor.tsx
  demo/src/components/EmbedEditor/MetadataForm.tsx
  demo/src/components/Results/ParsedMetadata.tsx
  demo/src/components/Results/Results.tsx
  demo/src/components/SaveBar/SaveBar.tsx
  demo/src/components/ThemeToggle/ThemeToggle.tsx
  demo/src/main.tsx
  package.json
  pnpm-lock.yaml
  src/api/embed.ts
  src/api/read.ts
  src/index.ts
  src/readers/jpeg.ts
  src/readers/png.ts
  src/readers/webp.ts
  src/writers/jpeg.ts
  src/writers/png.ts
  src/writers/webp.ts
  tests/integration/format-conversion.test.ts
  tests/integration/round-trip.test.ts
  tests/unit/api/image-input.test.ts
Due: lint, markdown

refactor(demo): improve code quality and component organization
  demo/src/App.tsx
  demo/src/components/ContentPanel/ContentPanel.tsx
  demo/src/components/ContentPanel/index.ts
  demo/src/components/CopyButton/index.ts
  demo/src/components/DropZone/index.ts
  demo/src/components/EmbedEditor/EmbedEditor.tsx
  demo/src/components/EmbedEditor/ExtrasEditor.tsx
  demo/src/components/EmbedEditor/MetadataForm.tsx
  demo/src/components/GitHubCorner/index.ts
  demo/src/components/LanguageSwitcher/index.ts
  demo/src/components/Results/ErrorMessage.tsx
  demo/src/components/Results/ParsedMetadata.tsx
  demo/src/components/Results/ParsedSection.tsx
  demo/src/components/Results/ParsedTabContent.tsx
  demo/src/components/Results/PlainTextTabContent.tsx
  demo/src/components/Results/RawData.tsx
  demo/src/components/Results/RawTabContent.tsx
  demo/src/components/Results/Results.tsx
  demo/src/components/Results/index.ts
  demo/src/components/SaveBar/SaveBar.tsx
  demo/src/components/ScrollToTop/index.ts
  demo/src/components/ThemeToggle/index.ts
  demo/src/utils.ts
Due: lint

refactor(demo): improve code quality and component organization (#136)
  demo/src/App.tsx
  demo/src/components/ContentPanel/ContentPanel.tsx
  demo/src/components/ContentPanel/index.ts
  demo/src/components/CopyButton/index.ts
  demo/src/components/DropZone/index.ts
  demo/src/components/EmbedEditor/EmbedEditor.tsx
  demo/src/components/EmbedEditor/ExtrasEditor.tsx
  demo/src/components/EmbedEditor/MetadataForm.tsx
  demo/src/components/GitHubCorner/index.ts
  demo/src/components/LanguageSwitcher/index.ts
  demo/src/components/Results/ErrorMessage.tsx
  demo/src/components/Results/ParsedMetadata.tsx
  demo/src/components/Results/ParsedSection.tsx
  demo/src/components/Results/ParsedTabContent.tsx
  demo/src/components/Results/PlainTextTabContent.tsx
  demo/src/components/Results/RawData.tsx
  demo/src/components/Results/RawTabContent.tsx
  demo/src/components/Results/Results.tsx
  demo/src/components/Results/index.ts
  demo/src/components/SaveBar/SaveBar.tsx
  demo/src/components/ScrollToTop/index.ts
  demo/src/components/ThemeToggle/index.ts
  demo/src/utils.ts
Due: lint

fix(parsers): extract CLIP skip from ComfyUI CLIPSetLastLayer node
  src/parsers/comfyui-nodes.ts
  src/parsers/comfyui.ts
  tests/samples/parsers/comfyui.test.ts
  tests/samples/parsers/stability-matrix.test.ts
Due: lint

fix(parsers): extract CLIP skip from ComfyUI CLIPSetLastLayer node (#137)
  src/parsers/comfyui-nodes.ts
  src/parsers/comfyui.ts
  tests/samples/parsers/comfyui.test.ts
  tests/samples/parsers/stability-matrix.test.ts
Due: lint

Path conditions:
  lint: any of: *.{js,ts,tsx,json}
  markdown: any of: *.md
